<h1>Profil de {{user.name}}</h1> <!-- En-tête principal avec le nom de l'utilisateur -->

{{#unless UserLoggedIsMe}}
<form id="followForm">
    <input type="hidden" id="userId" value="{{user.id}}">
    <button type="submit" id="followButton">
        {{#if AmIFollowingUser}}
            Unfollow
        {{else}}
            Follow
        {{/if}}
    </button>
</form>
{{/unless}}

<ul>
    <!-- Boucle à travers chaque publication de l'utilisateur -->
    {{#each posts}}
    <li>
        <!-- Afficher le nom de l'utilisateur et la date formatée de la publication -->
        <p><strong>{{name}}</strong> - {{formatDate timestamp}}</p>
        <!-- Afficher le texte de la publication -->
        <p>{{text}}</p>
        <!-- Afficher le nombre de likes de la publication -->
        <p>Likes: {{likes}}</p>
    </li>
    {{/each}}
</ul>
